proxy=http://proxy-zsgov.external.lmco.com:80/
https-proxy=http://proxy-zsgov.external.lmco.com:80/
cafile=C:/Users/e445928/Documents/LMCert/Combined_pem.pem
registry=https://nexus.global.lmco.com/repository/npm-proxy/
noproxy=nexus.global.lmco.com
strict-ssl=false
